<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CleanApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3780823629CD310A00D88ED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EE850D29CCA4D60003DD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EE851429CCA4D70003DD4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F70B5829CBA9690066BDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F70B6829CBAC9A0066BDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37F70B7129CBAC9A0066BDD7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
